name: Deploy

on:
  push:
    branches-ignore:
      - gh-pages
  pull_request:
    branches-ignore:
      - gh-pages

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: latest
          check-latest: true

      - run: npm i
      - run: cd test && npm i
      - run: node --run build

      - name: Upload static files as artifact
        if: github.event_name == 'push' && github.ref_name == 'main'
        id: deployment
        uses: actions/upload-pages-artifact@v3
        with:
          path: test/dist

  deploy:
    if: github.event_name == 'push' && github.ref_name == 'main'
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
